/****** HAMBURGER MENU GENERAL ******/

.hamburger {
  background-color: transparent;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/** max-width 800px **/

@media screen and (max-width: 800px) {
  .header-container {
    justify-content: flex-end;
  }
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  nav ul.nav-ul > li a {
    font-size: 1.3rem;
    padding: 1rem;
    text-transform: uppercase;
  }

  nav ul.nav-ul > li a:hover,
  nav ul.nav-ul > li a:focus,
  nav ul.nav-ul > li a.active {
    background: none;
    box-shadow: none;
  }

  nav ul.nav-ul > li a:hover {
    font-size: 1.4rem;
  }
  .fas {
    padding: 1rem;
    font-size: 2rem;
  }

  .stat-block {
    flex-direction: column;
    gap: 1rem;
  }
  .info-table {
    padding: 1rem;
  }

  .second-section {
    flex-direction: column;
    text-align: center;
  }

  .symptoms-grid {
    flex-direction: column;
  }

  .tips-grid {
    gap: 1rem;
    padding: 1rem;
  }
  .fifth-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }
  .section-five-image {
    border-radius: 55px 10px 10px 10px;
  }
  .info-container {
    border-radius: 10px 10px 55px 10px;
  }

  footer,
  .credit {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
