@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --body-font: "Poppins", sans-serif;
  --blue: #157fda;
  --white: #fff;
  --light-green: #39b49a;
  --light-blue: #1d86df;
  --light-gray: #999;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

/** Navigation **/
.header-container {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  width: auto;
  list-style: none;
}

/****** NAVIGATION MENU COLORING ******/

nav ul.nav-ul > li a:hover,
nav ul.nav-ul > li a:focus,
nav ul.nav-ul > li a.active {
  color: var(--white);
  background-color: var(--light-green);
  box-shadow: 5px 5px 0 0px #fff;
  transition: all ease-in-out 0.3s;
}

.nav-ul > li > a:hover {
  text-decoration: none;
  background-color: var(--white);
  transition: all ease-in-out 0.3s;
}

nav ul.nav-ul > li a {
  color: var(--white);
  font-size: 1rem;
  padding: 20px 20px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;
  margin-right: 5px;
  display: flex;
  text-decoration: none;
}

/****** FIRST SECTION ******/

.first-section {
  background-image: linear-gradient(to bottom, transparent, #fff),
    url("https://user-images.githubusercontent.com/63928803/94612371-1420e100-02b4-11eb-9117-132f0d9f03fd.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--blue);
  text-align: center;
  width: 100%;
  min-height: 50rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  padding: 5rem 2rem;
}

.stat-block {
  width: max(50%, 80%);
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  padding: 4rem;
  margin: 0 auto;
}

.info-table {
  border-radius: 15px;
  padding: 2rem;
  color: var(--white);
  background: var(--light-blue);
  font-size: 1.2rem;
  font-weight: 600;
  flex-basis: 50%;
  transition: all ease-in-out 0.3s;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

.info-icon {
  font-size: 3rem;
}

/****** SECOND SECTION *******/

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  width: 90%;
  margin: 0 auto;
}

/** Titles **/
.titles h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: var(--blue);
  text-align: center;
}

.titles h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 62px;
  text-align: center;
}

.titles .info {
  font-size: 1rem;
  color: var(--light-gray);
  font-weight: 500;
  text-align: left;
}

.column-2-media {
  text-align: center;
}
.column-2-media img {
  max-width: 70%;
  border-radius: 20px;
  opacity: 0.9;
  border: 3px solid rgba(255, 255, 255, 0.623);
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}
/***** LEARN MORE BUTTON EFFECTS *****/

.effect-1 {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.effect-1:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  padding: 5px;
  content: "";
  box-shadow: 0 0 0 2px #39b49a;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

.effect-1:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}

.btn {
  display: inline-block;
  color: var(--white);
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  letter-spacing: 1px;
}

.effect-1:after,
.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 25px;
  border-radius: 35px;
}

/******* THIRD SECTION *******/

.third-section {
  width: 100%;
  margin: o auto;
  margin-top: 5rem;
}

.symptoms-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: start;
  padding: 2rem;
  min-width: 80%;
  margin: 0 auto;
}

.symptoms-info {
  color: var(--white);
  background-color: var(--light-green);
  font-size: 1.2rem;
  flex-basis: 20%;
  transition: all ease-in-out 0.3s;
  border-radius: 20px;
  padding: 1.5rem;
}
.symptoms-info li {
  list-style: none;
  line-height: 3rem;
}
.symptoms-info h4 {
  text-transform: uppercase;
}

/** FOURTH SECTION **/

.fourth-section {
  margin-top: 5rem;
  width: 100%;
}

.fourth-section-tips {
  background-image: url("https://user-images.githubusercontent.com/63928803/94612382-16833b00-02b4-11eb-8e23-86c3955439f5.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

/** Tips Grid **/
.tips-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  max-width: 60%;
  padding: 5rem;
  color: var(--white);
  margin: 0 auto;
}

.tips-grid h4 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 600;
}

.tips-grid p {
  line-height: 2rem;
  font-weight: 400;
}

/** FIFTH SECTION **/

.fifth-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  grid-gap: 2rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 2rem;
}

.section-five-image {
  background-image: url("https://user-images.githubusercontent.com/63928803/94612383-171bd180-02b4-11eb-897b-e653348f0978.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  border-radius: 10px 55px 55px 10px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

.info-container {
  background-color: var(--light-blue);
  backdrop-filter: blur(20px);
  color: var(--white);
  padding: 2rem;
  border-radius: 55px 10px 10px 55px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

.info-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}
.info-container p {
  padding: 15px;
  text-align: justify;
}

/****** FOOTER ******/

footer {
  position: absolute;
  background: var(--blue);
  display: flex;
  flex-direction: row;
  gap: 5rem;
  max-width: 100%;
  height: fit-content;
  font-size: 1rem;
  color: var(--white);
  padding: 10px;
  margin-bottom: 0;
  justify-content: space-between;
}

.credit {
  text-align: left;
  line-height: 3rem;
}

.credit a,
.useful-links a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  transition: all ease-in-out 0.3s;
}
.useful-links h3 {
  font-size: 1.6rem;
}

.useful-links,
.credit,
.disclaimer {
  width: 100%;
}

.useful-links ul {
  text-decoration: none;
  list-style: none;
  line-height: 2.5rem;
}

.disclaimer {
  font-size: 0.6rem;
}
/** Responsive Hover **/

@media (hover: hover) {
  .info-table:hover {
    cursor: pointer;
    background-color: var(--light-green);
    transition: all ease-in-out 0.3s;
  }

  .btn:hover {
    text-decoration: none;
    color: var(--white);
  }
  .symptoms-info:hover {
    background-color: var(--light-blue);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  }
  .symptoms-info:hover h4 {
    text-decoration: overline;
    transition: all ease-in-out 0.3s;
  }
  .useful-links a:hover,
  .credit a:hover {
    text-decoration: underline var(--light-green) 5px;
    transition: all ease 0.3s;
  }
}
